.breadgrumb{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
}
.below{
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
}