
.background-image {
  width: 100%;
 
  background-image: url('./Header/3d-rendered-particle-trail-background-260nw-1431846002.webp');
  background-size: cover;
 
  
 
}



.head {
  border-bottom: 1px solid lightgray;
  background-color: rgba(0, 0, 0, 0.4);
 
}
.head li{
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
 
}
.head li:hover{
  background-color: rgb(75, 19, 19);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 
  .head li{
    border: 1px solid lightgray;
    border-radius: 80px;
    margin: 10px;
    text-align: center;
    padding: 0px;
   
  }
  .head li:hover{
    background-color: rgba(240, 4, 4, 0.842);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
 


.home h3::after{
  content: " softwere developer";
 animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes change{
  0%{
      content: "React Developer";
      color: red;
  }
  25%{
      content: "Frontend Developer";
      color: yellow;
  }
  50%{
      content: "UI Developer";
      color: blue;
  }
  75%{
      content: "Full Stack Developer";
      color: green;
  }
  100%{
      content: "Web Developer";
      color: springgreen;
  }
}
.img{
  
  border-radius: 20px;
   border:5px solid black ;
  
}

.card img{
  height: 175px;
  
 
}

.card{
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  margin-bottom: 20px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.link{
  font-size: 30px;
}
.skills{
  background-color: rgaba(0,0,0,0.5);
  color: white;
}

